body {
	background:linear-gradient(#66CCFF, #99CCFF, #B8DBFF  ,#D0D0D0) no-repeat center center fixed;
	
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

div.flag > img {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 200%;
	top:5;
	margin-left: 950px;
}
div.menu{
    margin-top: 50px;
    background-image: url(../img/menu-backgraund.jpeg);
    height: 55px;
    border-radius: 25px;
	  border: 4px double #5C2E00;

}
div.menu > div.menu-items {
    width: 900px;
    height: 55px;
    margin: 0 auto;
}
div.menu > div.menu-items > div.logo {
    width: 220px;
    height: 20px;
    padding-left: 20px;
    float:left;
}

div.menu > div.menu-items > div.logo > div > div {
    background-image: url(../img/logo.png);
    background-size: 190px 86px;
    background-repeat: no-repeat;
    width: 190px;
    height: 80px;
    text-align: center;
    margin-left: 10px;
    padding-top: 31px;
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 1px 1px 1px white;
    color: #5C2E00;
}

div.menu > div.menu-items > div.logo > div {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 25px;
    background-image: url(../img/menu-backgraund.jpeg);
    border-radius: 200%;
    border: 4px double #5C2E00;
}

div.menu > div.menu-items > ul > li {
    display: inline;
    float: left;
    padding-left: 5px;
    
}
div.menu > div.menu-items a, a:visited {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    color: #383838 ;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
div.menu > div.menu-items a.choice:hover{
    border: 3px groove #5C2E00;
    background-image: url(../img/menu-buttons-background.jpeg);
		padding: 10px 22px 10px 22px;
}
.current-page{
		border: 3px groove #5C2E00;
    background-image: url(../img/menu-buttons-background.jpeg);
		padding: 10px 22px 10px 22px;
}

div.menu>div.flag img{
    width: 45px;
    height: 30px;
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    
}
.MainPicture{
	margin-top: 35px;
	border-radius: 20px;
	height: 300px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 600px;
	position: relative;
}

div.main{
    widows: 1000px;
    height: 1000px;
    border-radius: 20px;
    border: 3px solid #707070;
    margin-top: 10;
    float: left;
    width: 1000px;
    background: linear-gradient(#94B8FF,#C2D6FF,#C2D6FF ,#FFFFFF) no-repeat ;
		background-image: url(../img/grass.png), url(../img/sun.png), url(../img/sky.jpeg);
		background-size: 1000px 120px,100px 90px,1000px 1200px;
		background-position: bottom,top left,center;
		
}
	.main > section{
			padding: 10px;
			margin-top: 15px;
			margin-left: 10px;
			width: 700px;
			height: 950px;
			float: left;
	}
		.main > section > h1 {
			text-align: center;
			font-size: 1.7em;
			margin-top: 40px;
			margin-bottom: 25px;
		}
		.main > section > h2 {
			padding-left: 190px;
			margin-top: 40px;
			margin-bottom: 60px;
		}
		.main > section > div.pictures {
			width 700px;
			height: 900px;
			padding: 10px;
		}
		.main > .home-page-section > p{
			font-size: 1.3em;
			margin-top: 20px;
			text-align: justify;
			padding-left: 20px;
		}
			.pictures > a > img{
				position: relative;
				border: 2px solid black;
				margin: 9px;
				width: 200px;
				height: 140px;
				opacity: 0.7;
			}
			
			.pictures > a:hover img{
				border: 2px inset red;
				opacity: 1;
			}
			.room-pictures > a > img{
				position: relative;
				border: 1px solid black;
				margin: 9px;
				width: 200px;
				height: 100px;
			}
			
			.room-pictures > a:hover img{
				border: 1px inset red;

			}
			
			
			.page-navigation-buttons{
				text-align: center;
				position: relative;
				left: -20;
				padding-bottom: 10px;
			} 
			.page-navigation-buttons > ul > li{
				display: inline;
				padding: 4px;
			}

			.page-navigation-buttons > ul > li > a ,a.visited{
				width:25px;
				height: 25px;
				text-decoration: none;
				font-weight: bold;
				padding: 10px;
				padding-left: 13px;
				box-shadow: 0 8px 6px -6px black;
				border-radius: 10px;
				color: black;
			}
			.page-navigation-buttons > ul > li > a.fisrt-num,a.fisrt-num:visited{
				background-color: #FFFFFF;
			}
			.page-navigation-buttons > ul > li > a.second-num,a.second-num:visited{
				background-color: #47D147;
			}
			.page-navigation-buttons > ul > li > a.third-num,a.third-num:visited{
				background-color: #FF3030;
				padding-right: 14px;
			}

			.page-navigation-buttons > ul >li>a:hover {
				box-shadow: inset 0 0 6px #000000;
				opacity: 0.7;
			}
			a.current-num{
				box-shadow: inset 0 0 6px #000000;
				opacity: 0.7;
			}
fieldset{
	position: relative;
	top: 100;
	width:300px;
	font-size: 20px;
}
aside{
	height: 980px;
	width: 243px;
	float: right;
	margin: 10px;
	border: 3px outset #4786CB;
	box-shadow: 5px 4px 5px #99CCFF;
	border-radius: 20px;
}
	aside > div.weather {
		position: relative;
		right: 26;
		
	}
	aside > div.facebook-page-plugin{
		text-align: center;
		position: relative;
		top:10;
	}
	h1.gallery-header {
		color: #fff;
		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
		font: 40px 'ChunkFiveRegular';
}

table, th, td{
	border-collapse: collapse;
		border: 1px solid white;
}

table{
	margin: 0 auto;
	margin-top: 20px;
	border: 10px solid white;
	height: 330px;
}

th{
	background-color: #A0A0A0;
	color: white;
}

td{
	background-color: white;
	width: 200px;
	text-align: center;
}

.room{
	color: #686868;
}
/* footer */
footer{
	margin-top: 10;
	border-radius: 20px;
	padding-top: 40px;
	position: relative;
	bottom: 0;
	color: white;
	height: 100px;
	text-align: center;
	background: linear-gradient(#181818 ,#202020 ,#303030 ,#383838);
	float: left;
	width: 100%;
}
	footer>p{
		font-style: oblique;
	}
	footer>nav{
		text-transform: uppercase;
		
	}
		footer>nav a,a:visited{
			color: white;
			text-decoration: none;
			
			
		}
			footer>nav>a:hover{
				color:#33CCFF;
			}
			footer>nav>a.current{
				color:#33CCFF;
			}

/* google maps */
	#map-canvas {
		margin-top:350px;
		width: 500px;
		height: 400px;
		background-color: #CCC;
		float: right;
		
	}


.facebook-icon > a >div:hover{
	width: 200px;
}
.facebook-icon> a > div:hover > p{
	padding-left: 60px;
	position: absolute;
	display: block;
	bottom: -7;
}
.facebook-icon img{
	width: 50px;
	height: 50px;
}
.facebook-icon> a > div{
	width: 50px;
	height: 50px;
	background: #4B6DAA;
	transition: 1s;
	}
.facebook-icon > a > div > p {
	font-size: 20px;
	display: none;
}
.facebook-icon{
	position: fixed;
	right: 0;
	top: 113;
}
.google-plus-icon > a >div:hover{
	width: 200px;
}
.google-plus-icon > a > div:hover > p{
	padding-left: 60px;
	position: absolute;
	display: block;
	bottom: -7;
}
.google-plus-icon img{
	width: 50px;
	height: 50px;
}
.google-plus-icon > a > div{
	width: 50px;
	height: 50px;
	background: 	#D94835;
	transition: 1s;
	}
.google-plus-icon > a > div > p {
	font-size: 20px;
	display: none;
}
.google-plus-icon{
	position: fixed;
	right: 0;
	top: 163;
}
.google-plus-icon>a{
	color: white !important;;
}



